<div class="jumbotron">
	<h1>Curriculum Vitae</h1>
	<p> Rendered from parsed <b>JSON</b> -  <%= link_to 'Download file', '/static_pages/cv.json' %></p>
</div>

<% @file.each do |line| %>
	<h3>
		<%= line[0] %>
	</h3>
	<% line[1].each do |key, value| %>
		<% if value.is_a? Array  %>
			<% value.each do |l| %>
				<p> <%= l %> </p>
			<% end %>
			
		<% else %>
			<p><b><%= key + ": " %></b> <%= value %></p>
		<% end %>
	<% end %>
<% end %>