$('#result').html('<%= @b.aasm.human_state %>');
<% row= 0 %>
<% @max.times do %>
	<% column= 0 %>
	<% @max.times do %>
		<% case (@board [row][column]) %>
			<% when 1 %>
				$('#<%= column.to_s + row.to_s %>').removeClass('btn-primary');
				$('#<%= column.to_s + row.to_s %>').addClass('btn-info');
				$('#<%= column.to_s + row.to_s %>').off('click');
			<% when 2 %>
				$('#<%= column.to_s + row.to_s %>').removeClass('btn-primary');
				$('#<%= column.to_s + row.to_s %>').addClass('btn-danger');
				$('#<%= column.to_s + row.to_s %>').off('click');
		<% end %>
		<% column= column + 1 %>
	<% end %>
	<% row= row + 1 %>
<% end %>