<div class="jumbotron">
	<h1>Tic Tac Toe</h1>
<p> Enter the size of the Board </p>
<%= form_tag static_pages_x3_path, class: 'form-horizontal' do %>
  <div class="form-group">
    <%= label_tag :board_size, 'Board Size', class: 'col-md-4 control-label' %>
    <div class="col-md-4">
    	<%= number_field_tag :board_size, nil, min: 2 %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-9">
      <%= submit_tag 'Create Board', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

</div>
<% if !(session[:current_game]).nil? && !(Board.where(id:session[:current_game]).first.nil?) %>
	<%= link_to awesomeicon('diskette') + ' CONTINUE GAME','/static_pages/x3', class: 'btn btn-success', title: 'Continue playing the last game', data: { toggle: 'tooltip', placement: 'right' } %>
<% end %>
