<div class="jumbotron">
	<h1>Tic Tac Toe</h1>
<p> Done using <b>Ruby</b> (logic), <b>Rails</b> (remote), <b>JQuery</b> (update board),a <b>Database (PostgreSQL for boards states)</b> and a session variable (for the board Id).</p>
<p>Board size = <%= @max %></p>

</div>

<% column= 0 %>
<% @max.times do %>
	<% row= 0 %>
	<p>
		<% @max.times do %>
		<% new_name= column.to_s + row.to_s %>
		<% state= @board[row].nil? ? 0 : (@board[row][column]).to_i %>
		<% color=  (state == 0) ? "primary" : ((state == 1) ? "info" : "danger") %>
			<%= link_to "-", static_pages_move_path(id: new_name), class: 'board btn btn-lg btn-' + color, remote: true, id: new_name %>
			<% row= row + 1 %>
		<% end %>
	</p>
	<% column = column + 1%>
<% end %>
<h1 id= "result"><%= @b.aasm.human_state %><h1>
<%= link_to "New Game", static_pages_tic_tac_toe_path, class: 'btn btn-lg btn-primary', title: 'New game', data: { toggle: 'tooltip' } %>