<h1>Listing boards</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Id</th>
            <th>Array State</th>
            <th>Game State</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
    <tbody>
      <%= content_tag_for(:tr, @boards) do |board| %>
            <td><%= board.id %></td>
            <td><%= board.state_ids %></td>
            <td><%= board.state %></td>
            <td class="text-right">
              <%= link_to glyphicon('glyphicon-eye-open'),
                board_path(board), class: 'btn btn-primary btn-xs' %>
              <%= link_to glyphicon('glyphicon-pencil'),
                edit_board_path(board), class: 'btn btn-primary btn-xs' %>
              <%= link_to glyphicon('glyphicon-trash'),
                board, method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-xs btn-danger' %>
            </td>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Board', new_board_path %>
