<p id="notice"><%= notice %></p>

<p>
  <strong>State ids:</strong>
  <%= @board.state_ids %>
</p>

<p>
  <strong>Color:</strong>
  <%= @board.color %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
