/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/*
*= require theme/animate.min
*= require theme/light-bootstrap-dashboard
*= require theme/light-bootstrap-dashboard.css
*= require theme/pe-icon-7-stroke
*/
@import "bootstrap-sprockets";
@import "bootstrap-variables";
@import "bootstrap";

@media (min-width: $screen-md)
{
    #filters
    {
        display: block;
    }
}
.input-group {
  .input-group-addon-middle {
    @extend .input-group-addon;
    border-width: 1px 0;
  }
}
.btn-xl{
	font-size: 25px;
	border-radius: 8px;
}
