<div class="sidebar" data-color="green" data-image="<%= image_path "sidebar-5.jpg" %>">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="\" class="simple-text">
        WELCOME
      </a>
    </div>
     <ul class="nav">
      <li class= <%= (@page_name == 'cv') ? 'active' : '' %> >
          <%= link_to '/static_pages/cv' do %>
            <%= awesomeicon('id') %>
            <p>
              Curriculum Vitae
            </p>
          <% end %>
      </li>
      <li class= <%= (@page_name == 'tic_tac_toe') ? 'active' : '' %> >
          <%= link_to '/static_pages/tic_tac_toe' do %>
            <%= awesomeicon('joy') %>
            <p>
              Tic Tac Toe
            </p>
          <% end %>
      </li>
    </ul>
  </div>
</div>