<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" href= "<%= image_path "favicon.ico" %>" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>CV</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>      

  <div class="wrapper">
    <%= render 'layouts/sidebar' %>
    <div class="main-panel">
      <%= render 'layouts/header' %>
      <div class="content">
        <div class="container-fluid row">
          <div class="card">
            <div class="content">
              <%= content_tag :div, notice, class: 'alert alert-success', role: 'alert' if notice %>
              <%= content_tag :div, alert, class: 'alert alert-danger', role: 'alert' if alert %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
</body>
</html>